

/* Financial Summary Styling */
.financial-summary-container {
    display: flex;                      
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-color:rgba(15,15,15,0);
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .chart-container {
    width: 100%;
    height: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  /* Adjust the width of the financial summary containers (income, expense, balance) */
  .summary-items-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .summary-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 35%;  /* Increased width of financial summary items */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .summary-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .summary-item h3 {
    font-size: 1.5rem;
    color: #495057;
  }
  
  .summary-item p {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .income p {
    color: #28a745; /* Green */
  }
  
  .expense p {
    color: #dc3545; /* Red */
  }
  
  .balance p {
    color: #007bff; /* Blue */
  }
  