

/* Transaction List Styling */
.transaclist-container {
    padding: 20px;
    background-color: rgba(245, 239, 239,0);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1000px;
  }
  
  .transaction-list {
    list-style-type: none;
    padding: 0;
  }
  
  .transaction-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .transaction-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .transaction-item strong {
    font-weight: bold;
    color: #495057;
  }
  
  .transaction-item span {
    display: block;
    margin-top: 5px;
    font-size: 1rem;
    color: #6c757d;
  }
  
  .delete-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
  }
  
  .delete-btn:hover {
    background-color: #c82333;
  }
  
  .error-message {
    color: red;
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
  }
  
  .loading-message {
    text-align: center;
    font-size: 1.2rem;
    color: #007bff;
    margin-top: 20px;
  }

  